element.style {
    width: 100%;
    height: 100%;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

body, html {
    /*overflow: hidden;   not really needed, makes stars picture non scrollable*/
    background: #f8f8f8;  /*changes the background to a darker white, please select something better*/
    font-family: 'Open Sans';
    color: #303030;
  font-size: 14px;
    line-height: 1.42857; /*increases space between text on line throughout the body*/
    margin: 0 auto; /* must be at least 0, theres a hidden 8px if turned off*/

}
div {
    display: block;
}
.head{
  background: rgba(48,48,48,.5);
    padding: 150px 0 200px;
    text-align: center;
    position: relative;
    color: black;
    overflow: hidden;
  display: block;
  box-sizing: border-box;
}
#particles-js {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  box-sizing: border-box;

}
#space{
  position:absolute;
  z-index:-5;
  -webkit-filter: opacity(.7);
  
}
#mar {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
}
h1 {
  font-weight: 700;
    letter-spacing: 3px;
    font-size: 60px;
    text-transform: uppercase;
    opacity: 1;
  margin: 0;
    z-index: 100;
}
h3 {
      font-weight: 300;
    text-transform: uppercase;
    opacity: 1;
  font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: white;
  z-index: 100;
}

section {
  
position: relative;

display: flex;
justify-content: center;
align-items: center;
}
#polaroid {
width: 20%;
}