/*===========================================
General Styles
=============================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #fff;
  color: #555;
  font-family: 'Lato'; 'Arial'; sans-serif;
  font-size: 20px;
  font-weight: 300; /*default weight*/
  text-rendering: optimizeLegibility;
}

/*===========================================
HEADER STYLES
=============================================*/
/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  /*width: 100%;  width doesnt do anything, is it because of the vh viewport?*/
  height: 100vh;
  background-image: linear-gradient(rgba(48,48,48,.2), rgba(48,48,48,.7)),url("http://www.zastavki.com/pictures/originals/2014/Space_Constellation_gold_fish_085231_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.header-text {
  width: 1140px;
  position: relative;/*vertical and horizontal centering*/
  top: 50%; /*vertical and horizontal centering*/
  left: 50%; /*vertical and horizontal centering*/
  transform: translate(-50%, -50%); 
}

.header-text h1 {
  margin-top: 0; /*normalize.css adds some margin*/
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%; /*relative to the html global fontsize which is at 20px*/
  font-weight: 300; /*for big font sizes use smaller font weight*/
  
  text-align: center;
}

.header-text span {
  font-weight: 300;
  text-transform: uppercase;
}
